<h1> Listing all NGOS</h1>
<table class="table">
	<tr>
		<th>Id</th><th>Name</th><th>Approved</th><th>Categories</th><th>Location</th><th>Action</th></tr>

	
		<% @ngos.each do |ngo| %>
			<tr>
				<td><%= ngo.id%></td>
				<td><%= ngo.name %></td>
				<td><%= ngo.approved %></td>
				<td><% ngo.categories.each do |ng|%>
					<%=ng.name%> 
					<%end%>
					</td>
			    <td><%= "#{ngo.city}, #{ngo.state}"%></td>
			    <% unless ngo.approved %>
					<td><%= link_to "Approve", admin_approved_path(ngo), :confirm => "Are you sure?" %></td>
				<% else %>
					<td><%= link_to "Disapprove", admin_unapprove_path(ngo), :confirm => "Are you sure?"  %></td>
				<% end %>
			</tr>
		<%end%>
	
	
</table>
	
	<%= render 'logout'%>