<h1> Listing all donations, SORTED BY PENDING FIRST</h1>
<table>
	<tr>
<th>Id</th>
<th>Name</th>
<th>Status</th>
<th>User name</th>
<th>User email</th>
<th>Ngo</th>
<th>Ngo Email</th>
<th>Category</th>
<th>Location</th>
<th>Pending for</th>
</tr>
<tr><% @donations.each do |don| %>
	<td><%= don.id%></td>
	<td><%= don.name %></td>
	<td><%= don.status %></td>
	<td><%= don.full_name %></td>
	<td><%= don.email %></td>
	<%if don.ngo_id%>
	<td><%= Ngo.find_by_id(don.ngo_id).name %></td>
	<td><%= Ngo.find_by_id(don.ngo_id).email%></td>
	<%end%>
	<td><%= Category.find(don.category).name %></td>
	<td><%= "#{don.address1} #{don.address2}, #{don.city}, #{don.state}"  %></td>
	<td><%=  time_ago_in_words(don.created_at) %></td>
	<td><%= link_to "Set Pending", admin_pending_path(don), :confirm => "Are you sure?"  %></td>
	<td><%= link_to "Set Done", admin_done_path(don), :confirm => "Are you sure?"  %></td>
	</tr>
	<%end%>
	</table>
	
	<%= render 'logout'%>