<% title "#{@ngo.name}\'s Profile" %>

<br/><br/><br/><br/>
<div class="row text-center">
	<div class="center-thing">
		<%= image_tag @ngo.avatar.url, :size => "260x260", :class => "round-pic" %>
	</div>
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1 text-center">
		<h1><%=@ngo.name%></h1>
		<br/>
	</div>
</div>

<div class="row">
	<cite class="col-lg-6 col-lg-offset-3 text-center address">
		<%=@ngo.full_address%>
	</cite>
</div>

<br/><br/>

<div class="col-lg-10 col-lg-offset-1">
	<div class="jumbotron">
		<%=@ngo.longdesc%>
	</div>
</div>

<div class="col-lg-10 col-lg-offset-1">
	<div class="jumbotron">
		<%=@ngo.longdesc%>
	</div>
</div>