<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New NGO applied at Goodwork, <%= @ngo.name %></h1>
    <p>
      SUCKER PUNCH
      your name is: <%= @ngo.name %>.<br/>
    </p>
    <p>Email: <%= @ngo.email %></p>
    <p>Phone: <%= @ngo.phone %></p>
    <p>
      To login to the site, just follow this link: <%= @url %>admin/login.
    </p>
    <p>Do this fast!</p>
  </body>
</html>