<% if flash[:notice] %>
  <div class="alert alert-success"><%= notice %>
  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-info"><%= alert %>
  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a></div>
<% end %>

<%= simple_form_for @donation,  { url: donation_create_path , :method => 'post'} do |f|%>

  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, :required => true, label: 'I want to donate a', :autofocus => true, input_html: {:class => 'form-control'} %>
  </div>

<div class="form-group">
    <%= f.input :description, :required => true, label: 'Description of item',  input_html: {:class => 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.input :full_name, :required => true, label: 'Full name',  input_html: {:class => 'form-control'} %>
  </div>


 <div class="form-group">
    <%= f.input :address1, :required => true, label: 'Address Line 1',  input_html: {:class => 'form-control'} %>
  </div>

 <div class="form-group">
    <%= f.input :address2, :required => true, label: 'Address Line 2', input_html: {:class => 'form-control'} %>
  </div>

<div class="form-group">
    <%= f.input :state, collection: Carmen::Country.coded('IN').subregions %>
  </div>

<div class="form-group">
    <%= f.input :city, :required => true, label: 'City',  input_html: {:class => 'form-control'} %>
  </div>

<div class="form-group">
    <%= f.input :category, :required => true, label: 'Category',  collection: Category.all %>
  </div>
<div class="form-group">
    <%= f.input :ph_no, :required => true, label: 'Phone',  input_html: {:class => 'form-control'} %>
 </div>
<div class="form-group">
    <%= f.input :email, :required => true, label: 'E-mail',  input_html: {:class => 'form-control'} %>
 </div>

  <div class="form-actions">
    <%= f.button :submit, "Go!" %>
  </div>


<% end %>