<% if flash[:notice] %>
  <div class="alert alert-success"><%= notice %>
  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-info"><%= alert %>
  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a></div>
<% end %>

<%= simple_form_for @donation,  { :method => 'post', wrapper: :home} do |f|%>

  <%= f.error_notification %>

  <div class="form-group">
  <%= f.input :name, :required => true, label: false, placeholder: 'I want to donate a', :autofocus => true, size_html: { class: 'col-sm-6 col-lg-6 col-md-6'} %>

  
  <%= f.input :category, :required => true, label: false, collection: Category.all, prompt: "Select a category", size_html: { class: 'col-sm-6 col-lg-6 col-md-6'} %>

  </div>
  <div class="form-group">
  <%= f.input :description, :required => true, label: false, placeholder: 'Description of item', as: :text, size_html: { class: 'col-sm-12 col-lg-12 col-md-12'} %>
  </div>

  <div class="form-group">
  <%= f.input :full_name, :required => true, label: false, placeholder: 'Full name', size_html: { class: 'col-sm-12 col-lg-12 col-md-12'} %>
  </div>

  <div class="form-group">
  <%= f.input :address1, :required => true, label: false, placeholder: 'Address Line 1', size_html: { class: 'col-sm-6 col-lg-6 col-md-6'} %>

  <%= f.input :address2, :required => true, label: false, placeholder: 'Address Line 2', size_html: { class: 'col-sm-6 col-lg-6 col-md-6'} %>
  </div>

  
  <div class="form-group">
  <%= f.input :city, :required => true, label: false, placeholder: 'City', size_html: { class: 'col-sm-6 col-lg-6 col-md-6'} %>
  <%= f.input :state, collection: Carmen::Country.coded('IN').subregions, label: false, size_html: { class: 'col-sm-6 col-lg-6 col-md-6'} %>
  </div>
  <div class="form-group">
  <%= f.input :ph_no, :required => true, label: false, placeholder: 'Phone', size_html: { class: 'col-sm-6 col-lg-6 col-md-6'} %>

  <%= f.input :email, :required => true, label: false, placeholder: 'E-mail', size_html: { class: 'col-sm-6 col-lg-6 col-md-6'} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Make your pledge!" ,class: "btn-success"  %>
  </div>


<% end %>