<!DOCTYPE html>
<html>
<head>
  <title>
  	Goodwork - <%= yield(:title).empty? ? 'Connecting People and Charitie\'s' : yield(:title)%>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/assets/favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<% unless fullwidth(request.path) %>
	<body>
<% else %>
	<body class="atroot">
<% end %>


	<nav class="navbar navbar-default" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%=link_to image_tag("logo.png", :border=>0, :class => 'logo'), root_path , class: 'navbar-brand' %>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav navbar-right">
	      <li><%=link_to "About Us", home_about_path %></li>
	      <li><%=link_to "Are you an NGO?", home_welcome_path %></li>
          <li><%=link_to "Directory", directory_path %></li>
	      <% if ngo_signed_in? %>

		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">NGO <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><%=link_to "Profile", root_path %></li>
		          <li><%=link_to "Logout", destroy_ngo_session_path, :method => 'delete', class: 'login' %></li>
		        </ul>
		      </li>

		  <% elsif administrator_signed_in? %>

		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><%=link_to "All Ngos", admin_index_path %></li>
		          <li><%=link_to "Unapproved Ngos", admin_unapproved_path %></li>
		          <li><%=link_to "Donations", admin_pending_donations_path %></li>
		          <li><%=link_to "Logout", destroy_administrator_session_path, :method => 'delete', class: 'login' %></li>
		        </ul>
		      </li>

		  <% else %>

		      <li class="dropdown">
		        <li><%=link_to "Login", new_ngo_session_path, class: 'login' %></li>
		      </li>

		  <% end %>

	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>

	<% unless fullwidth(request.path) %>

		<div class="container up-top">

		<% if flash[:notice] %>
			<div class="alert alert-success"><%= notice %>
			<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a></div>
		<% end %>
		<% if flash[:alert] %>
			<div class="alert alert-info"><%= alert %>
			<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a></div>
		<% end %>

    <% end %>

		<%= yield %>
	</div>

	<footer>
		<div class="persistant-pledge">
			<div class="container">
				<label>Pledge an item today, at no cost to anyone.</label>
				<a type="" href="<%= root_path[1, root_path.length] %>/?#open-form" class="pull-right btn btn-success btn-lg">PLEDGE</a>
			</div>
		</div>
		<div class="footer-links">
			<div class="col-lg-6">
				<%= image_tag("logo_footer.png", class:'img-responsive') %>
				Goodwork is a free platformfor charities to sign up and receive donations in their city. It is developed and maintained by SIZR Studios, a product and web development company.
			</div>
			<div class="col-lg-3">
				<%= image_tag("talk.png", class:'img-responsive') %>
				Talk to us!<br>
				<a href="https://twitter.com/GoodworkIN">Tweet us @GoodworkIN</a><br>
				<a href="https://www.facebook.com/pages/Goodwork/224750914356785">Like us on Facebook</a>
			</div>
			<div class="col-lg-3">
				CREATED WITH LOVE BY
				<%= image_tag("sizr_footer.png", class:'img-responsive') %>
			</div>
		</div>
	</footer>

</body>
</html>
